# Backend
backend/.env
backend/.env.backup
backend/.env.production
backend/vendor/
backend/node_modules/
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env.local
frontend/.env.*.local

# Docker & OS
.DS_Store
Thumbs.db
*.log

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
