.tf-card {
  background-color: var(--bg-surface);
  border-radius: var(--radius-md);
  border: 1px solid var(--border-subtle);
  transition: all var(--transition-fast);
}

.tf-card--default {
  box-shadow: var(--shadow-card);
}

.tf-card--subtle {
  background-color: var(--bg-surface-subtle);
  border-color: transparent;
}

.tf-card--outline {
  background-color: transparent;
  border: 1px solid var(--border-default);
}

/* Paddings */
.tf-card--p-none {
  padding: 0;
}

.tf-card--p-sm {
  padding: var(--spacing-sm);
}

.tf-card--p-md {
  padding: var(--spacing-md);
}

.tf-card--p-lg {
  padding: var(--spacing-lg);
}
